{% extends 'layout.twig' %}

{% block pageContent %}
<div class="container-fluid" style=''>
    <h2>
        <i class='icon-plus'></i> Change my password<br />
        <small class=''>Fields marked with <span style='color: red'>'*'</span> are required!</small>
    </h2>
    
</div>
<div class="bg-white container-fluid" style='border: 2px solid #bbb;'>
    {% if flash.myPasswordChangeSuccess %}
    
    <div style='margin: 50px 10px 10px 10px'>
        <div class='alert alert-success'>
            <i class='icon-check-alt'></i> {{ flash.myPasswordChangeSuccess }}
        </div>
        
        <a href='/' class="btn btn-primary"> <i class='icon-home'></i> Go To My Workspace</a>

        <br />
        <br />
    </div>
    {% else %}
    
    <form class="input-form" autocomplete="off" style='margin: 50px 10px 10px 10px' 
         action="/my-profile/change-password" method="post">

         {% include 'includes/alerts.twig' %}

        <h3>Password Details</h3>
        <hr />
        <div class="row-fluid">
            <div class="control-group span3 {{(oldInput.hasError('currentPassword') ? 'error' : '')}}" >
                <label for="">Current Password</label>
                <input type="password" class="input-xlarge"
                        placeholder="Current Password" name='currentPassword'
                        value="{{oldInput.value('currentPassword')}}" />
                <span id="" class="help-block">{{oldInput.error('currentPassword')}}</span>
            </div>
        </div>
        <div class="row-fluid">
            <div class="control-group span3 {{(oldInput.hasError('password') ? 'error' : '')}}" id="password">
                <label for="">Create Password</label>
                <input type="password" class="input-xlarge"
                        placeholder="Password" name='password'
                        value="{{oldInput.value('password')}}" />
                <span id="" class="help-block">{{oldInput.error('password')}}</span>
            </div>
        </div>
        <div class="row-fluid">
            <div class="control-group span3 {{(oldInput.hasError('confirmPassword') ? 'error' : '')}}" id="password-confirm">
                <label for="">Confirm Password *</label>
                <input type="password" class="input-xlarge"
                        placeholder="Confirm Password" name='confirmPassword' 
                        value="{{oldInput.value('confirmPassword')}}" />
                <span id="" class="help-block">{{oldInput.error('confirmPassword')}}</span>
            </div>
        </div>
        <br />
        <br />

        <div class="row-fluid">
            <div class="control-group span3">
                <a href='/' class="btn btn-danger">Cancel</a>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>

    {% endif %}
</div>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type='text/javascript'>
        $('.input-form').on('submit', function(){
            $(this).LoadingOverlay("show");
            return true;
        });
    </script>
{% endblock %}
